body {
     
    background-image: url(../img/back.jpg);
    background-position:top;

}

#tel{
  position:absolute; 
  top:20px;    
  right: 20%; 
  color: aliceblue;
  font-size: 24px; 
  font-weight: bold;    
  font-family: OpenSans, Arial, Verdana;  
}

.logo, #offer{
    text-align:center;
}

#title{
  
  text-align:center;   
  padding-left: 20%; 
  padding-right: 20%;     
  color: aliceblue;
  font-size: 18px; 
  font-weight: bold;    
  font-family: OpenSans, Arial, Verdana;     
}



#rec {
  display: block; 
 position: absolute;
  margin-left: 20%;    
}




#vid{

    display: block;
     position: absolute;
    margin-left: 54%;
}
     
#frame{
    width:100%;
}    
