body {
     
    background-image: url(../img/back.jpg);
    background-position:top;
    background-size:cover;

}

#tel{
  position:absolute; 
  top:20px;    
  right: 20%; 
  color: aliceblue;
  font-size: 1.3em; 
  font-weight: bold;    
  font-family: OpenSans, Arial, Verdana;  
}

.logo{
    text-align:center;
    width: 100%;
}
#offer{
 text-align:center;   
}


#title{
  
  text-align:center;   
  padding-left: 22%; 
  padding-right: 22%;     
  color: aliceblue;
  font-size: 100%; 
  font-weight: bold;    
  font-family: OpenSans, Arial, Verdana;     
}



#rec {
  display: block; 
 position: absolute;
  margin-left: 20%;    
}




#vid{

    display: block;
     position: absolute;
    margin-left: 54%;
}
     
#frame{
    width:100%;
}    

#bod_1 ,#bod_2,#bod_3, #logo_foot {
  margin-top: 5%;
  text-align:center;

}

#bod_1{
  margin-top: 10%;  
}

#logo_foot{
  margin-top: 20%;    
    
}

#foot{
    margin-top: 5%;
   text-align:center;
   font-size: 70%;  
color: #373;
    margin-left:10%;  
    margin-right:10%; 
}
